nav.m-breadcrumb.-transparent
    .container.m-breadcrumb__container
        a.m-breadcrumb__item(href="#") Lorem ipsum
        a.m-breadcrumb__item(href="#") Dolor sit amet
        a.m-breadcrumb__item(href="#") Lorem ipsum
        a.m-breadcrumb__item(href="#") Dolor sit amet
        span.m-breadcrumb__item.active Lorem ipsum