section.m-filterResponsive

    .m-filterResponsive__filter(id="js-filterToggler") Filtr produktu

form.o-filter(id="js-filter" method="post" name="filter-form" action="")

    .o-filter__responsive(id="js-filterTogglerResponsive")
        .o-filter__responsiveText Filtr Produktu
        span.a-icon.-cross.-white.o-filter__responsiveIcon 

    .container.o-filter__container
        .accordion.o-filter__accordion(id="accordionFilter")
            .o-filter__single.-checkbox
                .o-filter__item
                    .o-filter__formGroup.m-formGroup.-checkbox.-noMargin
                        input.m-formGroup__input(type="checkbox" name="filter-1" id="filter-1" required)
                        span.m-formGroup__checkbox.a-checkbox
                        label.m-formGroup__label(for="filter-1") Oferta specjalna
            .o-filter__single.-checkbox
                .o-filter__item
                    .o-filter__formGroup.m-formGroup.-checkbox.-noMargin
                        input.m-formGroup__input(type="checkbox" name="filter-2" id="filter-2" required)
                        span.m-formGroup__checkbox.a-checkbox
                        label.m-formGroup__label(for="filter-2") Aktualności
            .o-filter__single.-checkbox
                .o-filter__item
                    .o-filter__formGroup.m-formGroup.-checkbox.-noMargin
                        input.m-formGroup__input(type="checkbox" name="filter-3" id="filter-3" required)
                        span.m-formGroup__checkbox.a-checkbox
                        label.m-formGroup__label(for="filter-3") Najbardziej sprzedane

            .o-filter__single
                .o-filter__link(id="headingFilter-1" data-toggle="collapse" data-target="#collapseFilter-1" aria-expanded="false" aria-controls="collapseFilter-1") Producent #[span.a-icon.-cheveron.o-filter__icon]
                .collapse.o-filter__collapse(id="collapseFilter-1" aria-labelledby="headingFilter-1" data-parent="#accordionFilter")
                    .container.o-filter__content
                        .row.o-filter__row

                            - for (var i=0; i<5; i++)
                                .o-filter__item
                                    .o-filter__formGroup.m-formGroup.-checkbox.-noMargin
                                        input.m-formGroup__input(type="checkbox" name="filter-brand" id=i required)
                                        span.m-formGroup__checkbox.a-checkbox
                                        label.m-formGroup__label(for=i) Yarnart

            .w-100
            .o-filter__single
                .o-productPagination
                    nav(aria-label="Stránkování produktů")
                        ul.pagination.m-pagination.-noPadding

                            li.page-item.m-pagination__item.-active
                                a.page-link.m-pagination__link(href="#") 1
                            li.page-item.m-pagination__item
                                a.page-link.m-pagination__link(href="#") 2
                            li.page-item.m-pagination__item
                                a.page-link.m-pagination__link(href="#") 3
                            li.page-item.m-pagination__item
                                span.a-icon.-dots.m-pagination__icon
                            li.page-item.m-pagination__item
                                a.page-link.m-pagination__link(href="#") 12



    .o-filter__responsiveBottom(id="js-filterTogglerResponsive2") Potwierdź filtr
