footer.o-footer

    section.o-footerContacts
        .container.o-footerContacts__container
            .row.o-footerContacts__row
                .col-12.col-md-6.o-footerContacts__col
                    h4.o-footerContacts__title Kontaktní informace
                    .o-footerContacts__wrap
                        .o-footerContacts__single #[.a-icon.-phone.-white.o-footerContacts__icon] +420 727 877 380
                        .o-footerContacts__single #[.a-icon.-envelope.-white.o-footerContacts__icon] info@mojespani.cz

                .col-12.col-md-6.o-footerContacts__col

                    h4.o-footerContacts__title Sledujte nás také na
                    a.o-footerContacts__Socialwrap(href="#")
                        .a-icon.-facebook.-white.o-footerContacts__socialIcon
                        .o-footerContacts__socialName Facebook

            
            
    section.o-footerMain
        .container.o-footerMain__container
            .row.o-footerMain__row
                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title O nákupu
                    a.o-footerMain__link(href="#") Obchodní podmínky
                    a.o-footerMain__link(href="#") Reklamační řád
                    a.o-footerMain__link(href="#") Jak nakupovat
                    a.o-footerMain__link(href="#") Osobní odběry
                    a.o-footerMain__link(href="#") Možnosti platby

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Uživatelský účet
                    a.o-footerMain__link(href="#" data-toggle="modal" data-target="#modal-login") Přihlášení
                    a.o-footerMain__link(href="#") Vytvořit účet
                    a.o-footerMain__link(href="#") Zapomenuté údaje

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Další odkazy
                    a.o-footerMain__link(href="#") Výhody nákupu
                    a.o-footerMain__link(href="#") Doprava zdarma
                    a.o-footerMain__link(href="#") Ochrana osobních údajů
                    a.o-footerMain__link(href="#") Zásady používání cookie

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Kontaktní informace
                    p.o-footerMain__text Ondera Aleš
                    p.o-footerMain__text J.Čapka 3097
                    p.o-footerMain__text Frýdek-Místek, 738 01
                    a.o-footerMain__link(href="#") Více kontaktů
                    

section.o-copyright
    .container.o-copyright__container
        .o-copyright__wrap
            h5.o-copyright__h5 Copyright © 2018 #[a.o-copyright__link(href=metaURL) #{metaSitename}]
            h5.o-copyright__pull Vytvořeno v #[a.o-copyright__link(href=metaAuthorURL) #{metaAuthor}]