footer.o-footer

    section.o-footerContacts
        .container.o-footerContacts__container
            .row.o-footerContacts__row

                .col-12.col-md-6.o-footerContacts__col

                    .m-emailSubscribe
                        h4.m-emailSubscribe__title Subskrybuj najnowsze wydarzenia i wiadomości e-mail

                        form.m-emailSubscribe__form(method="post" action="")
                            .m-emailSubscribe__inputWrap
                                input.m-emailSubscribe__input(type="email" id="sub-email" name="sub-email" required placeholder="Wpisz swój adres e-mail" autocomplete="email")
                                button.btn.m-emailSubscribe__btn(type="submit" id="sub-button" name="sub-button") Subskrybuj
                            label.m-emailSubscribe__agree
                                span.m-emailSubscribe__inlineText Przesyłając formularz, zgadzasz się na warunki przetwarzania #[a(href="#") swoich danych osobowych]


                .col-12.col-md-6.o-footerContacts__col
                    h4.o-footerContacts__title Skontaktuj się z nami pod adresem
                    .o-footerContacts__wrap
                        .o-footerContacts__single #[.a-icon.-phone.-white.o-footerContacts__icon] 656 985 734
                        .o-footerContacts__single #[.a-icon.-envelope.-white.o-footerContacts__icon] info@yarnart.pl

                



            
            
    section.o-footerMain
        .container.o-footerMain__container
            .row.o-footerMain__row
                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title O zakupie
                    a.o-footerMain__link(href="#") Warunki
                    a.o-footerMain__link(href="#") Procedura reklamacyjna
                    a.o-footerMain__link(href="#") Subskrypcje osobiste
                    a.o-footerMain__link(href="#") Opcje płatności

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Konto użytkownika
                    a.o-footerMain__link(href="#" data-toggle="modal" data-target="#modal-login") Zaloguj się
                    a.o-footerMain__link(href="#") Utwórz konto
                    a.o-footerMain__link(href="#") Zapomniane dane

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Więcej linków
                    a.o-footerMain__link(href="#") Darmowa wysyłka
                    a.o-footerMain__link(href="#") Prywatność
                    a.o-footerMain__link(href="#") Polityka dotycząca plików cookie

                .col-6.col-sm-6.col-lg-3
                    h5.o-footerMain__title Informacje kontaktowe
                    p.o-footerMain__text AXland.cz s.r.o
                    p.o-footerMain__text Poděbradova 1442/109
                    p.o-footerMain__text Ostrava, 702 00
                    a.o-footerMain__link(href="#") Więcej informacji
                    

section.o-copyright
    .container.o-copyright__container
        .o-copyright__wrap
            h5.o-copyright__h5 Copyright © 2018 #[a.o-copyright__link(href=metaURL) #{metaSitename}]
            h5.o-copyright__pull Stworzony w #[a.o-copyright__link(href=metaAuthorURL) #{metaAuthor}]