.modal.fade.o-modal(id="modal-question" tabindex="-1" role="dialog" aria-labelledby="modal-question" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.o-modal__dialog(role="document")
        .modal-content.o-modal__content

            .modal-header.o-modal__header
                h5.modal-title.o-modal__title(id="modal-question-heading") Czy na pewno chcesz usunąć swoje konto?

                button.o-modal__close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span.a-icon.-cross.-red.o-modal__closeIcon
      

            .modal-footer.o-modal__footer
                button.btn.-dark(type="button" data-dismiss="modal") Zamknij
                a.btn(href="#") Potwierdź usunięcie #[span.a-btnIcon #[span.a-icon.-cheveron.-white]] 


