.modal.fade.o-modal.-wide(id="modal-history" tabindex="-1" role="dialog" aria-labelledby="modal-history-heading" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.o-modal__dialog(role="document")
        .modal-content.o-modal__content

            .modal-header.o-modal__header
                h5.modal-title.o-modal__title(id="modal-history-heading") Szczegóły zamówienia

                button.o-modal__close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span.a-icon.-cross.-red.o-modal__closeIcon

            .modal-body.o-modal__body
                - for (var i=0; i<1; i++)
                    .m-cartItemSingle
                        .m-cartItemSingle__col-1  
                            .m-cartItemSingle__thumb-wrap
                                .m-cartItemSingle__thumb
                                    img.m-cartItemSingle__img.lazy(src=URLbase+"img/placeholder-200x200.png" data-src=URLbase+"img/product-thumb-small.jpg")

                        .m-cartItemSingle__col-2   
                            .m-cartItemSingle__name-wrap
                                p.m-cartItemSingle__name #{ProductName}
                                p.m-cartItemSingle__tags #[span Varianta: abc]
                                p.m-cartItemSingle__stock Dostępne w magazynie

                            .m-cartItemSingle__inner    
                                .m-cartItemSingle__qty-wrap  
                                    p.m-cartItemSingle__qty-text 1 sztuka
                                .m-cartItemSingle__price-wrap
                                    span.m-cartItemSingle__price-old 99 zł
                                    p.m-cartItemSingle__price 99 zł
                                .m-cartItemSingle__sum-wrap.text-right
                                    p.m-cartItemSingle__sum #[span 99] zł

            .modal-footer.o-modal__footer
                button.btn.-dark(type="button" data-dismiss="modal") Zamknij
