
nav.o-navProducts(id="js-navProducts")

	.container.container-full
	
		.o-navProducts__user.m-navUserMenu
			.m-navUserMenu__heading(data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser")
				span.a-icon.-user.-white.m-navUserMenu__img
				.m-navUserMenu__username Petr Novák
				span.a-icon.-cheveron.-white.m-navUserMenu__cheveron

			.collapse.m-navUserMenu__content(id="collapseUser")
				a.m-navUserMenu__link(href="#") #[span.a-icon.-personalInfo.m-navUserMenu__icon] Změna osobních údajů
				a.m-navUserMenu__link(href="#") #[span.a-icon.-calendar.m-navUserMenu__icon] Historie objednávek
				a.m-navUserMenu__link(href="#") #[span.a-icon.-logOut.m-navUserMenu__icon] Odhlásit


		//
			<div class="o-navProducts__user m-navUserMenu">
				<a class="m-navUserMenu__heading" data-toggle="modal" data-target="#modal-login">
					<span class="a-icon -user -white m-navUserMenu__img"></span>
					<div class="m-navUserMenu__username">Přihlášení</div>
				</a>
			</div>

			
		.accordion.o-navProducts__accordion(id="accordionProducts")


			.o-navProducts__item
				a.o-navProducts__link(href="#") Oferta specjalna
				a.o-navProducts__linkDesktop(href="#") Oferta specjalna

			.o-navProducts__item
				a.o-navProducts__link(href="#") Merino i wełna
				a.o-navProducts__linkDesktop(href="#") Merino i wełna

			.o-navProducts__item
				a.o-navProducts__link(href="#") Bawełna
				a.o-navProducts__linkDesktop(href="#") Bawełna

			.o-navProducts__item
				a.o-navProducts__link(href="#") Akryl
				a.o-navProducts__linkDesktop(href="#") Akryl

			.o-navProducts__item
				a.o-navProducts__link(href="#") Wstążka i sznurek
				a.o-navProducts__linkDesktop(href="#") Wstążka i sznurek

			.o-navProducts__item
				a.o-navProducts__link(href="#") Poliamid
				a.o-navProducts__linkDesktop(href="#") Poliamid

			.o-navProducts__item
				a.o-navProducts__link(href="#") Mikro/Poliester
				a.o-navProducts__linkDesktop(href="#") Mikro/Poliester

			.o-navProducts__item
				a.o-navProducts__link(href="#") Inne
				a.o-navProducts__linkDesktop(href="#") Inne

.m-navProductsClose(id="js-navProductsClose")
	span.a-icon.-cross.-white