a.m-newsSingle(href="#")
    .m-newsSingle__top.b-bgCover__wrap
        img.lazy.m-newsSingle__img.b-bgCover__img(src=URLbase+"img/lazy/lazy-news-thumb-small.jpg" data-src=URLbase+"img/news-thumb-small.jpg" alt="#" title="#")
    .m-newsSingle__bottom
        h4.m-newsSingle__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
        span.m-newsSingle__date 1. 1. 1972