nav(aria-label="Stránkování produktů")
	ul.pagination.m-pagination

		li.page-item.m-pagination__item.-active
			a.page-link.m-pagination__link(href="#") 1
		li.page-item.m-pagination__item
			a.page-link.m-pagination__link(href="#") 2
		li.page-item.m-pagination__item
			a.page-link.m-pagination__link(href="#") 3
		li.page-item.m-pagination__item
			span.a-icon.-dots.m-pagination__icon
		li.page-item.m-pagination__item
			a.page-link.m-pagination__link(href="#") 12