.m-productCell
    a.m-productCell__link(href="#")

        .m-productCell__top     

            .m-productCell__thumb

                .m-productCell__tags
                    .m-productCell__tagSingle
                        .a-tag.-sale Oferta specjalna
                    .m-productCell__tagSingle    
                        .a-tag.-new Aktualności
                    .m-productCell__tagSingle 
                        .a-tag.-recommended Najbardziej sprzedane

                .m-productCell__imgWrap
                    img.lazy.m-productCell__img(src=URLbase+"img/placeholder-280x280.png" data-src=URLbase+"img/product-thumb-medium.jpg" alt="#")
                    span.lazy.m-productCell__preloader
                
            h4.m-productCell__title #{ProductName}


        .m-productCell__bottom

            .m-productCell__priceWrap

                .m-productCell__price
                    .m-productCell__priceOld 90 zł
                    .m-productCell__priceMain #[span od] 60.50 zł

            .m-productCell__cta
                span.btn.-transparent.m-productCell__btn Szczegóły produktu
                .m-productCell__stock W magazynie
            


