- var lang = "pl";

- var title = "Yarnart.pl";

- var metaDescription = "Lorem ipsum dolor sit amet lorem ispum";

- var metaKeywords = "";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://yarnart.pl";

- var metaSitename = "yarnart.pl";


- var URLbase = "";


- var metaTwitterName = "@yarnart.pl";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "yarnart.pl";

- var metaYoutubeName = "yarnart.pl";

- var metaInstagramName = "yarnart.pl";



- var ProductName = "Salerno and other lorem ipsum dolor sit amet lorem ispum";
