doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug

        section.o-pageHeading
            include partials/_breadcrumb-transparent.pug
            .container.o-pageHeading__container
                h1.o-pageHeading__title Aktuality

        main
            .container
                .row                                       
                    - for (var i=0; i<10; i++)
                        .col-12.col-sm-12.col-md-4
                            include partials/_news-single.pug


                include partials/_pagination.pug


        include partials/_footer.pug

        include partials/_js-include.pug