doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug
        include partials/_modal-reklamace.pug
        include partials/_modal-info.pug

        section.o-pageHeading
            include partials/_breadcrumb-transparent.pug
            .container.o-pageHeading__container
                h1.o-pageHeading__title Kontakty
        main 
            .container
                .printArea
                    article
                        .row
                            .col-12.col-sm-12.col-md-6
                                .m-contactItem
                                    h2.m-contactItem__title Siedziba firmy
                                    .m-contactItem_content
                                        strong.m-contactItem__subtitle AXland.cz s.r.o.

                                        strong.m-contactItem__subtitle Aleje 473/109, Hošťálkovice
                                        strong.m-contactItem__subtitle 725 28 Ostrava

                                        strong.m-contactItem__subtitle IČO: 29444519
                                        strong.m-contactItem__subtitle DIČ: CZ29444519

                            .col-12.col-sm-12.col-md-6
                                .m-contactItem
                                    h2.m-contactItem__title Informacje kontaktowe
                                    .m-contactItem_content
                                        .m-contactItem__phoneWrap
                                            span.a-icon.-phone.m-contactItem__icon 
                                            .m-contactItem__phone +420 702 010 909
 
                                        strong.m-contactItem__subtitle E-mail: info@bezvapleteni.cz
                                        strong.m-contactItem__subtitle Pracovní dny od 9:00 do 15:30

                            .col-12.col-sm-12.col-md-12
                                .m-contactItem
                                    h2.m-contactItem__title Pytania dotyczące dostępności i wariantów kolorystycznych towarów
                                    .row
                                        .col-12.col-sm-12.col-md-6
                                            .m-contactItem_content
                                                strong.m-contactItem__subtitle Kierownik magazynu
                                                strong.m-contactItem__subtitle Bc. Eva Krylová
                                                .m-contactItem__phoneWrap
                                                    span.a-icon.-phone.m-contactItem__icon 
                                                    .m-contactItem__phone +420 605 248 687
                

                                        .col-12.col-sm-12.col-md-6
                                            .m-contactItem_content
                                                strong.m-contactItem__subtitle Dział fakturowania
                                                strong.m-contactItem__subtitle Bc. Eva Krylová
                                                .m-contactItem__phoneWrap
                                                    span.a-icon.-phone.m-contactItem__icon 
                                                    .m-contactItem__phone +420 724 537 974
            


                        .page-contact__map
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.131178939238!2d18.21402374954165!3d49.85878046652874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713e3cd1ca10699%3A0xa253fc14190c98c6!2zQWxlamUsIDcyNSAyOCBPc3RyYXZhLUhvxaHFpcOhbGtvdmljZQ!5e0!3m2!1scs!2scz!4v1562686627239!5m2!1scs!2scz" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)

                        h3 EET Information Notification
                        p Zgodnie z ustawą o rejestracji sprzedaży Sprzedający jest zobowiązany do wystawienia Kupującemu pokwitowania. Jednocześnie jest on zobowiązany do zarejestrowania otrzymanej sprzedaży u administratora podatkowego online


        include partials/_footer.pug

        include partials/_js-include.pug