doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header.-cart
            include partials/_navMain.pug

                
        section.o-cartNavResponsive
            a.o-cartNavResponsive__link.-prev.-disabled(href="#")
                span.a-icon.-cheveron.o-cartNavResponsive__icon
            p.o-cartNavResponsive__title 1/4 Nákupní košík
            a.o-cartNavResponsive__link.-next(onclick="$('#cart-form-submit').trigger('click');")
                span.a-icon.-cheveron.o-cartNavResponsive__icon

        .a-cartNavResponsivePush

        main.-cart
            .container
                .row.cart__row
                    .col-12.col-lg-3.cart__col
                        section.o-cartNav
                            .o-cartNav__single.-active
                                .o-cartNav__heading
                                    .o-cartNav__number 1
                                    .o-cartNav__title Koszyk na zakupy
                                .o-cartNav__content
                                    .o-cartNav__text 1x Lorem ipsum product #[span 99 zł]
                                    .o-cartNav__text 1x Lorem ipsum product #[span 99 zł]
                                    a.o-cartNav__link(href="#") Edytuj
                                
                            .o-cartNav__single
                                .o-cartNav__heading
                                    .o-cartNav__number 2
                                    .o-cartNav__title Dane osobowe
                                .o-cartNav__content
                                    .o-cartNav__text.-empty Niepubliczny
                                
                            .o-cartNav__single
                                .o-cartNav__heading
                                    .o-cartNav__number 3
                                    .o-cartNav__title Podsumowanie
                                .o-cartNav__content
                                    .o-cartNav__text.-empty Niepubliczny

                            .o-cartNav__single
                                .o-cartNav__heading
                                    .o-cartNav__number 4
                                    .o-cartNav__title Wykończenie



                    .col-12.col-lg-9.cart__col
                        form(method="post" action="" name="cart_form")
                            .m-cartItemTop
                                .m-cartItemTop__item.-img Produkt
                                .m-cartItemTop__col
                                    .m-cartItemTop__item.-name
                                    .m-cartItemTop__wrap
                                        .m-cartItemTop__item.-qty Liczba sztuk
                                        .m-cartItemTop__item.-price Cena za sztukę
                                        .m-cartItemTop__item.-sum Całkowita cena
                                        .m-cartItemTop__item.-remove

                            - for (var i=0; i<3; i++)
                                .m-cartItemSingle
                                    .m-cartItemSingle__col-1  
                                        .m-cartItemSingle__thumb-wrap
                                            .m-cartItemSingle__thumb
                                                img.m-cartItemSingle__img.lazy(src=URLbase+"img/placeholder-200x200.png" data-src=URLbase+"img/product-thumb-small.jpg")


                                    .m-cartItemSingle__col-2   
                                        .m-cartItemSingle__name-wrap
                                            a.m-cartItemSingle__name(href="#") #{ProductName}
                                            p.m-cartItemSingle__tags #[span Wariant: Suede 341]
                                            p.m-cartItemSingle__stock W magazynie

                                        .m-cartItemSingle__inner    
                                            .m-cartItemSingle__qty-wrap 
                                                .m-cartItemSingle__qty
                                                    .m-numberStepper.-small
                                                        input.m-numberStepper__input(type="number" min="1" max="99" value="1" name="cart-item-single-qty")
                                                        .m-numberStepper__btnUp
                                                            span.m-numberStepper__iconUp
                                                        .m-numberStepper__btnDown
                                                            span.m-numberStepper__iconDown

                                            .m-cartItemSingle__price-wrap
                                                p.m-cartItemSingle__price 99 zł
                                                span.m-cartItemSingle__vat w tym VAT
                                            .m-cartItemSingle__sum-wrap
                                                p.m-cartItemSingle__sum #[span 99] zł
                                                span.m-cartItemSingle__vat w tym VAT
                                            .m-cartItemSingle__delete-wrap
                                                a.a-icon.-crossCircle.-red(href="#")

                            .m-cartPriceOverview
                                .m-cartFreeShipping  
                                    p.m-cartFreeShipping__text Przy zamówieniu powyżej #[span.m-cartFreeShipping__price 99 zł] masz bezpłatną wysyłkę
                                p.m-cartPriceOverview__text Całkowita cena z VAT:
                                h3.m-cartPriceOverview__price #[span.m-cartPriceOverview__priceNumber 297] zł


                            .o-cartDeliveryForm
                                h2.o-cartDeliveryForm__title Wybór transportu

                                .o-cartDeliveryForm__item
                                    .o-form__group.m-formGroup.-radiobutton
                                        input.m-formGroup__input(type="radio" name="doprava" id="delivery_form_delivery-1" required)
                                        span.m-formGroup__radiobutton.a-radiobutton
                                        label.m-formGroup__label.-bold(for="delivery_form_delivery-1") Odbiór osobisty
                                        label.m-formGroup__price(for="delivery_form_delivery-1") 99 zł

                                .o-cartDeliveryForm__item
                                    .o-form__group.m-formGroup.-radiobutton
                                        input.m-formGroup__input(type="radio" name="doprava" id="delivery_form_delivery-2" required checked)
                                        span.m-formGroup__radiobutton.a-radiobutton
                                        label.m-formGroup__label.-bold(for="delivery_form_delivery-2") Odbiór osobisty
                                        label.m-formGroup__price(for="delivery_form_delivery-2") 99 zł



                                h2.o-cartDeliveryForm__title Wybór płatności

                                .o-cartDeliveryForm__item
                                    .o-form__group.m-formGroup.-radiobutton
                                        input.m-formGroup__input(type="radio" name="platba" id="delivery_form_payment-1" required checked)
                                        span.m-formGroup__radiobutton.a-radiobutton
                                        label.m-formGroup__label.-bold(for="delivery_form_payment-1") Odbiór osobisty
                                        label.m-formGroup__price(for="delivery_form_payment-1") 99 zł

                                .o-cartDeliveryForm__item
                                    .o-form__group.m-formGroup.-radiobutton
                                        input.m-formGroup__input(type="radio" name="platba" id="delivery_form_payment-2" required disabled)
                                        span.m-formGroup__radiobutton.a-radiobutton
                                        label.m-formGroup__label.-bold(for="delivery_form_payment-2") Odbiór osobisty
                                        label.m-formGroup__price(for="delivery_form_payment-2") 99 zł

                                .o-cartDeliveryForm__item
                                    .o-form__group.m-formGroup.-radiobutton
                                        input.m-formGroup__input(type="radio" name="platba" id="delivery_form_payment-3" required)
                                        span.m-formGroup__radiobutton.a-radiobutton
                                        label.m-formGroup__label.-bold(for="delivery_form_payment-3") Odbiór osobisty
                                        label.m-formGroup__price(for="delivery_form_payment-3") 99 zł


                            .m-cartButtons
                                a.btn.-dark(href="#") #[span.a-btnIcon.-rotate180 #[span.a-icon.-cheveron.-white]] Powrót do sklepu
                                a.btn.-transparent(href="#") Opróżnij kosz
                                button.btn.-secondary(type="submit" id="cart-form-submit") Dane osobowe #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]
                               

            .m-cartBarResponsive
                .m-cartBarResponsive__priceWrap
                    p.m-cartBarResponsive__text Całkowita cena z VAT
                    h3.m-cartBarResponsive__price #[span 297] zł
                .m-cartBarResponsive__btnWrap
                    button.btn.-secondary.m-cartBarResponsive__btn(onclick="$('#cart-form-submit').trigger('click');") Dane osobowe #[span.a-btnIcon #[span.a-icon.-cheveron.-white]] 


        include partials/_footer.pug 

        include partials/_js-include.pug