doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug
        main
            .container
                .o-cartEmpty.-success
                    img.o-cartEmpty__img(src=URLbase+"img/cart-empty-success.svg" alt="Zamówienie zostało pomyślnie wysłane" title="Zamówienie zostało pomyślnie wysłane")
                    h1.o-cartEmpty__title Zamówienie zostało pomyślnie wysłane
                    p.o-cartEmpty__text Podsumowanie zamówienia i instrukcje płatności zostały wysłane na Twój adres e-mail
                    a.btn.-secondary.o-cartEmpty__link(href="#") Powrót do sklepu #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]
                    p.o-cartEmpty__text.-small Jeśli masz problem z zamówieniem, skontaktuj się z nami pod adresem email@email.cz lub pod numerem 111 222 333



        include partials/_footer.pug

        include partials/_js-include.pug