doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug
        main
            .container
                .o-cartEmpty
                    img.o-cartEmpty__img(src=URLbase+"img/cart-empty.svg" alt="Twój koszyk jest pusty" title="Twój koszyk jest pusty")
                    h1.o-cartEmpty__title Twój koszyk jest pusty
                    p.o-cartEmpty__text Aby kontynuować zakupy, najpierw włóż wybrany produkt do koszyka.
                    a.btn.-secondary.o-cartEmpty__link(href="#") Powrót do sklepu #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]



        include partials/_footer.pug

        include partials/_js-include.pug