doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
        section.o-cartNav
            .container.o-cartNav__container
                .o-cartNav__single.-complete
                    .o-cartNav__number 1
                    .o-cartNav__title Nákupní košík
                    
                .o-cartNav__single.-complete
                    .o-cartNav__number 2
                    .o-cartNav__title Doprava a platba
                    
                .o-cartNav__single.-active
                    .o-cartNav__number 3
                    .o-cartNav__title Osobní údaje
                    
                .o-cartNav__single
                    .o-cartNav__number 4
                    .o-cartNav__title Shrnutí objednávky

        section.o-cartNavResponsive
            a.o-cartNavResponsive__link.-prev(href="/kosik.html?krok=2")
                span.a-icon.-cheveron.o-cartNavResponsive__icon
            p.o-cartNavResponsive__title 3/4 Osobní údaje
            a.o-cartNavResponsive__link.-next(onclick="responsive_check()")
                span.a-icon.-cheveron.o-cartNavResponsive__icon

        .a-cartNavResponsivePush

        main
            .container

                .a-cartResponsiveError Prosím zadejte své osobní údaje nebo se přihlaste.

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-9
                        form.o-form.-paddingRight(method="post" action="" name="register_form" id="register_form")

                            a.o-form__collapseToggler(data-toggle="collapse" id="js-registerCollpaseToggler" href="#register-collapse" aria-expanded="true" aria-controls="register-collapse") Bez registrace #[span.a-icon.-cheveron.o-form__collapseTogglerIcon]
                            .collapse.o-form__collapse.show(id="register-collapse")

                                h2.o-form__title Bez registrace

                                .o-form__divider.m-formDivider Osobní údaje

                                .row
                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_name" id="register_form_name" autocomplete="given-name" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_name") Jméno
                                            span.m-formGroup__error Neplatné jméno
                                            span.m-formGroup__success
                                            
                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup       
                                            input.m-formGroup__input(type="text" name="register_form_surname" id="register_form_surname" autocomplete="family-name" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_surname") Příjmení
                                            span.m-formGroup__error Neplatné příjmení
                                            span.m-formGroup__success

                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="email" name="register_form_email" id="register_form_email" autocomplete="email" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_email") Emailová adresa
                                            span.m-formGroup__error Neplatný email
                                            span.m-formGroup__success
                                            
                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="tel" name="register_form_tel" id="register_form_tel" autocomplete="tel" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_tel") Telefonní číslo
                                            span.m-formGroup__error Neplatné číslo
                                            span.m-formGroup__success


                                .o-form__divider.m-formDivider Adresa

                                .row
                                    .col-12.col-md-9
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_address" id="register_form_address" autocomplete="street-address" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_address") Ulice
                                            span.m-formGroup__error Neplatné jméno ulice
                                            span.m-formGroup__success

                                    .col-12.col-md-3
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="number" name="register_form_descriptive" id="register_form_descriptive" autocomplete="descriptive-address" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_descriptive") Číslo popisné
                                            span.m-formGroup__error Neplatné číslo popisné
                                            span.m-formGroup__success

                                    .col-12.col-md-9
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_locality" id="register_form_locality" autocomplete="address-level2" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_locality") Město
                                            span.m-formGroup__error Neplatné jméno města
                                            span.m-formGroup__success

                                    .col-12.col-md-3
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_postal_code" id="register_form_postal_code" autocomplete="postal-code" required placeholder=" ")
                                            label.m-formGroup__label(for="register_form_postal_code") PSČ
                                            span.m-formGroup__error Neplatné PSČ
                                            span.m-formGroup__success

                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup.-radiobutton
                                            input.m-formGroup__input(type="radio" name="register_form_country" id="register_form_country_cz" required checked)
                                            span.m-formGroup__radiobutton.a-radiobutton
                                            label.m-formGroup__label(for="register_form_country_cz") Česká republika

                                    .col-12.col-md-6
                                        .o-form__group.m-formGroup.-radiobutton
                                            input.m-formGroup__input(type="radio" name="register_form_country" id="register_form_country_sk" required)
                                            span.m-formGroup__radiobutton.a-radiobutton
                                            label.m-formGroup__label(for="register_form_country_sk") Slovensko

                                .row
                                    .col-12.col-md-6

                                        .o-form__groupToggler(data-toggle="collapse" href="#formBillingCollapse" aria-expanded="false" aria-controls="formBillingCollapse")
                                            .o-form__group.m-formGroup.-switch
                                                input.m-formGroup__input(type="checkbox" name="register_form_billing_toggler" id="register_form_billing_toggler" )
                                                span.m-formGroup__switch.a-switch
                                                label.m-formGroup__label(for="register_form_billing_toggler") Vyplnit fakturační adresu   

                                        .collapse.o-form__groupCollapse(id="formBillingCollapse")

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_name" id="register_form_billing_name" autocomplete="name" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_name") Jméno a příjmení #[span.m-formGroup__muted (nepovinné)]
                                                span.m-formGroup__error Neplatné jméno a příjmení
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_company" id="register_form_billing_company" autocomplete="org" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_company") Název firmy 
                                                span.m-formGroup__error Neplatný název firmy
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_ico" id="register_form_billing_ico" autocomplete="ico" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_ico") IČO
                                                span.m-formGroup__error Neplatné IČO
                                                span.m-formGroup__success
                                                
                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_dic" id="register_form_billing_dic" autocomplete="dic" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_dic") DIČ #[span.m-formGroup__muted (nepovinné)]
                                                span.m-formGroup__error Neplatné DIČ
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_address" id="register_form_billing_address" autocomplete="street-address" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_address") Ulice
                                                span.m-formGroup__error Neplatná ulice
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_descriptive" id="register_form_billing_descriptive" autocomplete="descriptive-address" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_descriptive") Číslo popisné
                                                span.m-formGroup__error Neplatné číslo popisné
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_localitye" id="register_form_billing_locality" autocomplete="address-level2" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_locality") Město
                                                span.m-formGroup__error Neplatné město
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_billing_postal_code" id="register_form_billing_postal_code" autocomplete="postal-code" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_billing_postal_code") PSČ
                                                span.m-formGroup__error Neplatné PSČ
                                                span.m-formGroup__success
                 
                                            .o-form__group.m-formGroup.-radiobutton
                                                input.m-formGroup__input(type="radio" name="register_form_billing_postal_country" id="register_form_billing_postal_country_cz" checked)
                                                span.m-formGroup__radiobutton.a-radiobutton
                                                label.m-formGroup__label(for="register_form_billing_postal_country_cz") Česká republika

                                            .o-form__group.m-formGroup.-radiobutton
                                                input.m-formGroup__input(type="radio" name="register_form_billing_postal_country" id="register_form_billing_postal_country_sk" )
                                                span.m-formGroup__radiobutton.a-radiobutton
                                                label.m-formGroup__label(for="register_form_billing_postal_country_sk") Slovensko


                                    .col-12.col-md-6

                                        .o-form__groupToggler(data-toggle="collapse" href="#formShippingCollapse" aria-expanded="false" aria-controls="formShippingCollapse")
                                            .o-form__group.m-formGroup.-switch
                                                input.m-formGroup__input(type="checkbox" name="register_form_shipping_toggler" id="register_form_shipping_toggler")
                                                span.m-formGroup__switch.a-switch
                                                label.m-formGroup__label(for="register_form_shipping_toggler") Vyplnit jinou dodací adresu   

                                        .collapse.o-form__groupCollapse(id="formShippingCollapse")

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_shipping_name" id="register_form_shipping_name" autocomplete="name" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_shipping_name") Jméno a příjmení
                                                span.m-formGroup__error Neplatné jméno a příjmení
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_shipping_company" id="register_form_shipping_company" autocomplete="org" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_shipping_company") Název firmy #[span.m-formGroup__muted (nepovinné)]
                                                span.m-formGroup__error Neplatný název firmy
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_shipping_address" id="register_form_shipping_address" autocomplete="street-address" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_shipping_address") Ulice
                                                span.m-formGroup__error Neplatná ulice
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_shipping_descriptive" id="register_form_shipping_descriptive" autocomplete="descriptive-address" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_shipping_descriptive") Číslo popisné
                                                span.m-formGroup__error Neplatné číslo popisné
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_shipping_locality" id="register_form_shipping_locality" autocomplete="address-level2" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_shipping_locality") Město
                                                span.m-formGroup__error Neplatné město
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup
                                                input.m-formGroup__input(type="text" name="register_form_shipping_postal_code" id="register_form_shipping_postal_code" autocomplete="postal-code" placeholder=" ")
                                                label.m-formGroup__label(for="register_form_shipping_postal_code") PSČ
                                                span.m-formGroup__error Neplatné PSČ
                                                span.m-formGroup__success

                                            .o-form__group.m-formGroup.-radiobutton
                                                input.m-formGroup__input(type="radio" name="register_form_shipping_postal_country" id="register_form_shipping_postal_country_cz" checked)
                                                span.m-formGroup__radiobutton.a-radiobutton
                                                label.m-formGroup__label(for="register_form_shipping_postal_country_cz") Česká republika

                                            .o-form__group.m-formGroup.-radiobutton
                                                input.m-formGroup__input(type="radio" name="register_form_shipping_postal_country" id="register_form_shipping_postal_country_sk" )
                                                span.m-formGroup__radiobutton.a-radiobutton
                                                label.m-formGroup__label(for="register_form_shipping_postal_country_sk") Slovensko




                                .o-form__divider.m-formDivider Ostatní


                                .o-form__groupToggler(data-toggle="collapse" href="#formRegisterCollapse" aria-expanded="false" aria-controls="formRegisterCollapse")
                                    .o-form__group.m-formGroup.-switch
                                        input.m-formGroup__input(type="checkbox" name="register_form_register_toggler" id="register_form_register_toggler")
                                        span.m-formGroup__switch.a-switch
                                        label.m-formGroup__label(for="register_form_register_toggler") Mám zájem o vytvoření účtu

                                .collapse.o-form__groupCollapse(id="formRegisterCollapse")

                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="password" name="register_form_register_password" id="register_form_register_password" autocomplete="password" placeholder=" ")
                                        label.m-formGroup__label(for="register_form_register_password") Heslo
                                        span.m-formGroup__error Neplatné heslo
                                        span.m-formGroup__success


                                .o-form__legal Vložením údajů beru na vědomí #[a(href="#") zpracování osobních údajů]

                                .o-form__group.m-formGroup.-checkbox
                                    input.m-formGroup__input(type="checkbox" name="register_form_newsletter" id="register_form_newsletter")
                                    span.m-formGroup__checkbox.a-checkbox
                                    label.m-formGroup__label(for="register_form_newsletter") Chci odebírat newsletter a souhlasím se #[a(href="#") zpracováním osobních údajů] za účelem zasílání informací o novinkách a slevách.            

                        
                                .m-cartButtons
                                    a.btn.-dark(href="#") Krok zpět
                                    button.btn(type="submit" id="register_form_submit") Osobní údaje #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]  



                    .col-12.col-sm-12.col-md-12.col-lg-3
                        .m-cartOverview(data-price="10000")
                            .m-cartOverview__title Shrnutí objednávky
                           
                            .m-cartOverview__productSingle

                                .m-cartOverview__productThumb
                                    img.m-cartOverview__productImg(src=URLbase+"img/product-thumb-small.jpg" at="#" title="#")

                                .m-cartOverview__productContent
                                    .m-cartOverview__productTitle Kočárek Lonex Speedy Vogue a dlouhý název lorem ipsum dolor sit amet
                                    .m-cartOverview__productSub
                                        .m-cartOverview__productNumber 1 kus/ů
                                        .m-cartOverview__productPrice 18 546 Kč

                            .m-cartOverview__productSingle

                                .m-cartOverview__productThumb
                                    img.m-cartOverview__productImg(src=URLbase+"img/product-thumb-small.jpg" at="#" title="#")

                                .m-cartOverview__productContent
                                    .m-cartOverview__productTitle Kočárek Lonex Speedy Vogue a dlouhý název lorem ipsum dolor sit amet
                                    .m-cartOverview__productSub
                                        .m-cartOverview__productNumber 1 kus/ů
                                        .m-cartOverview__productPrice 18 546 Kč                     

                            .m-cartOverview__shipping
                                .m-cartOverview__shippingText Způsob dopravy
                                .m-cartOverview__shippingWrap
                                    .m-cartOverview__shippingTitle Nevybráno
                                    .m-cartOverview__shippingNumber

                            .m-cartOverview__payment
                                .m-cartOverview__paymentText Způsob platby
                                .m-cartOverview__paymentWrap
                                    .m-cartOverview__paymentTitle Nevybráno 
                                    .m-cartOverview__paymentNumber

                            .m-cartOverview__price
                                .m-cartOverview__priceText Celková cena s DPH
                                .m-cartOverview__priceTitle 10 000 Kč  


            .m-cartBarResponsive
                .m-cartBarResponsive__priceWrap
                    p.m-cartBarResponsive__text Celková cena s DPH
                    h3.m-cartBarResponsive__price #[span 65 599] Kč
                .m-cartBarResponsive__btnWrap
                    button.btn.m-cartBarResponsive__btn(onclick="responsive_check()") Osobní údaje #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]


            script.
                function responsive_check(){
                    if($("#js-registerCollpaseToggler").attr("aria-expanded") === "false"){
                        $(".a-cartResponsiveError").fadeIn(200);
                    }else{
                        $("#register_form_submit").trigger("click");
                    }
                }

        include partials/_footer.pug

        include partials/_js-include.pug