doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug

        section.o-pageHeading
            include partials/_breadcrumb-transparent.pug
            .container.o-pageHeading__container
                h1.o-pageHeading__title Postele

                .o-subCategories
                    - for (var i=0; i<5; i++)
                        .o-subCategories__singleWrap
                            a.o-subCategories__single(href="#")
                                img.o-subCategories__img(src=URLbase+"img/product-thumb-medium.jpg" alt="" title="")
                                .o-subCategories__title Postele


        include partials/_filter.pug

        
        main
            .container

                .m-filterBadges
                    .m-filterBadges__single 
                        .m-filterBadges__wrap
                            .m-filterBadges__title Filtr položka
                            a.m-filterBadges__remove(href="#")
                                span.a-icon.-cross.m-filterBadges__Icon 


                .o-productPagination
                    .o-productPagination__resultNumber 1 - 30 z 322 produktů
                    .o-productPagination__resultLimit 
                        span.o-productPagination__resultLimitText Produktů na stránku
                        a.o-productPagination__resultLimitButton.-active(href="#") 20
                        a.o-productPagination__resultLimitButton(href="#") 60

                    include partials/_pagination.pug


                .o-productGrid
                    - for (var i=0; i<20; i++)
                        include partials/_single-product-cell.pug


                .o-productBottomButton
                    a.btn.-dark.o-productBottomButton__btn(href="#") Dalších 20 produktů
                    include partials/_pagination.pug

 

        include partials/_footer.pug

        include partials/_js-include.pug