doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug

        section.o-pageHeading
            include partials/_breadcrumb-transparent.pug
            .container.o-pageHeading__container
                h1.o-pageHeading__title Bawełna



        include partials/_filter.pug

        
        main
            .container

                .m-filterBadges
                    .m-filterBadges__single 
                        .m-filterBadges__wrap
                            .m-filterBadges__title Filtrowany element
                            a.m-filterBadges__remove(href="#")
                                span.a-icon.-cross.m-filterBadges__Icon 





                .o-productGrid
                    - for (var i=0; i<20; i++)
                        include partials/_single-product-cell.pug


                include partials/_pagination.pug

 

        include partials/_footer.pug

        include partials/_js-include.pug