doctype html
include partials/_variables.pug  
html(lang=lang)
    include partials/_header.pug  
    body
        include partials/_modal-login.pug
        header.o-header
            include partials/_navMain.pug
            include partials/_navProducts.pug

        section.o-pageHeading
            include partials/_breadcrumb-transparent.pug
            .container.o-pageHeading__container
                h1.o-pageHeading__title Rejestracja
                p.o-pageHeading__text Jako zarejestrowany użytkownik otrzymujesz 1% zniżki na wszystkie towary i możesz śledzić postępy swojego zamówienia.
        main
            .container
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-1


                    .col-12.col-sm-12.col-md-12.col-lg-10
                        form.o-form.-noMargin(method="post" action="" name="register_form" id="register_form")

                            .o-form__divider.m-formDivider Dane osobowe

                            .row
                                .col-12.col-md-6
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="text" name="register_form_name" id="register_form_name" autocomplete="given-name" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_name") Imię
                                        span.m-formGroup__error Nieprawidłowy Imię
                                        span.m-formGroup__success
                                        
                                .col-12.col-md-6
                                    .o-form__group.m-formGroup       
                                        input.m-formGroup__input(type="text" name="register_form_surname" id="register_form_surname" autocomplete="family-name" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_surname") Nazwisko
                                        span.m-formGroup__error Nieprawidłowy Nazwisko
                                        span.m-formGroup__success

                                .col-12.col-md-12
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="password" name="register_form_password" id="register_form_password" autocomplete="password" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_password") Hasło
                                        span.m-formGroup__error Nieprawidłowy hasło
                                        span.m-formGroup__success

                                .col-12.col-md-6
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="email" name="register_form_email" id="register_form_email" autocomplete="email" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_email") Adres e-mail
                                        span.m-formGroup__error Nieprawidłowy Adres e-mail
                                        span.m-formGroup__success
                                        
                                .col-12.col-md-6
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="tel" name="register_form_tel" id="register_form_tel" autocomplete="tel" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_tel") Numer telefonu
                                        span.m-formGroup__error Nieprawidłowy Numer telefonu
                                        span.m-formGroup__success


                            .o-form__divider.m-formDivider Adres

                            .row
                                .col-12.col-md-9
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="text" name="register_form_address" id="register_form_address" autocomplete="street-address" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_address") Ulica
                                        span.m-formGroup__error Nieprawidłowy Ulica
                                        span.m-formGroup__success

                                .col-12.col-md-3
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="number" name="register_form_descriptive" id="register_form_descriptive" autocomplete="descriptive-address" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_descriptive") Numer domu
                                        span.m-formGroup__error Nieprawidłowy Numer domu
                                        span.m-formGroup__success

                                .col-12.col-md-9
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="text" name="register_form_locality" id="register_form_locality" autocomplete="address-level2" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_locality") Miasto / gmina
                                        span.m-formGroup__error Nieprawidłowy Miasto / gmina
                                        span.m-formGroup__success

                                .col-12.col-md-3
                                    .o-form__group.m-formGroup
                                        input.m-formGroup__input(type="text" name="register_form_postal_code" id="register_form_postal_code" autocomplete="postal-code" required placeholder=" ")
                                        label.m-formGroup__label(for="register_form_postal_code") Kod pocztowy
                                        span.m-formGroup__error Nieprawidłowy Kod pocztowy
                                        span.m-formGroup__success

                                .col-12.col-md-12
                                    .o-form__group.m-formGroup
                                        select.m-formGroup__input(name="register_form_country" id="register_form_country" required)
                                            option(value="pl") Polsko
                                            option(value="cz") Česká republika
                                            option(value="sk") Slovensko

                            .row
                                .col-12.col-md-6
                                    .o-form__groupToggler(data-toggle="collapse" href="#formBillingCollapse" aria-expanded="false" aria-controls="formBillingCollapse")
                                        .o-form__group.m-formGroup.-switch
                                            input.m-formGroup__input(type="checkbox" name="register_form_billing_toggler" id="register_form_billing_toggler" )
                                            span.m-formGroup__switch.a-switch
                                            label.m-formGroup__label(for="register_form_billing_toggler") Wypełnij adres rozliczeniowy

                                    .collapse.o-form__groupCollapse(id="formBillingCollapse")

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_name" id="register_form_billing_name" autocomplete="name" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_name") Imię a Nazwisko #[span.m-formGroup__muted (opcjonalnie)]
                                            span.m-formGroup__error Nieprawidłowy Imię a Nazwisko
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_company" id="register_form_billing_company" autocomplete="org" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_company") Nazwa firmy
                                            span.m-formGroup__error Nieprawidłowy Nazwa firmy
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_ico" id="register_form_billing_ico" autocomplete="ico" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_ico") IČO
                                            span.m-formGroup__error Nieprawidłowy IČO
                                            span.m-formGroup__success
                                            
                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_dic" id="register_form_billing_dic" autocomplete="dic" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_dic") DIČ #[span.m-formGroup__muted (opcjonalnie)]
                                            span.m-formGroup__error Nieprawidłowy DIČ
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_address" id="register_form_billing_address" autocomplete="street-address" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_address") Ulica
                                            span.m-formGroup__error Nieprawidłowy Ulica
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_descriptive" id="register_form_billing_descriptive" autocomplete="descriptive-address" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_descriptive") Numer domu
                                            span.m-formGroup__error Nieprawidłowy Numer domu
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_localitye" id="register_form_billing_locality" autocomplete="address-level2" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_locality") Miasto / gmina
                                            span.m-formGroup__error Nieprawidłowy Miasto / gmina
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_billing_postal_code" id="register_form_billing_postal_code" autocomplete="postal-code" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_billing_postal_code") Kod pocztowy
                                            span.m-formGroup__error Nieprawidłowy Kod pocztowy
                                            span.m-formGroup__success
                
                                        select.m-formGroup__input(name="register_form_billing_postal_country" id="register_form_billing_postal_country" required)
                                            option(value="pl") Polsko
                                            option(value="cz") Česká republika
                                            option(value="sk") Slovensko


                                .col-12.col-md-6
                                    .o-form__groupToggler(data-toggle="collapse" href="#formShippingCollapse" aria-expanded="false" aria-controls="formShippingCollapse")
                                        .o-form__group.m-formGroup.-switch
                                            input.m-formGroup__input(type="checkbox" name="register_form_shipping_toggler" id="register_form_shipping_toggler")
                                            span.m-formGroup__switch.a-switch
                                            label.m-formGroup__label(for="register_form_shipping_toggler") Wpisz inny adres wysyłki

                                    .collapse.o-form__groupCollapse(id="formShippingCollapse")

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_shipping_name" id="register_form_shipping_name" autocomplete="name" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_shipping_name") Imię a Nazwisko
                                            span.m-formGroup__error Nieprawidłowy Imię a Nazwisko
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_shipping_company" id="register_form_shipping_company" autocomplete="org" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_shipping_company") Nazwa firmy #[span.m-formGroup__muted (opcjonalnie)]
                                            span.m-formGroup__error Nieprawidłowy Nazwa firmy
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_shipping_address" id="register_form_shipping_address" autocomplete="street-address" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_shipping_address") Ulica
                                            span.m-formGroup__error Nieprawidłowy Ulica
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_shipping_descriptive" id="register_form_shipping_descriptive" autocomplete="descriptive-address" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_shipping_descriptive") Numer domu
                                            span.m-formGroup__error Nieprawidłowy Numer domu
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_shipping_locality" id="register_form_shipping_locality" autocomplete="address-level2" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_shipping_locality") Miasto / gmina
                                            span.m-formGroup__error Nieprawidłowy Miasto / gmina
                                            span.m-formGroup__success

                                        .o-form__group.m-formGroup
                                            input.m-formGroup__input(type="text" name="register_form_shipping_postal_code" id="register_form_shipping_postal_code" autocomplete="postal-code" placeholder=" ")
                                            label.m-formGroup__label(for="register_form_shipping_postal_code") Kod pocztowy
                                            span.m-formGroup__error Nieprawidłowy Kod pocztowy
                                            span.m-formGroup__success

                                        select.m-formGroup__input(name="register_form_shipping_postal_country" id="register_form_shipping_postal_country" required)
                                            option(value="pl") Polsko
                                            option(value="cz") Česká republika
                                            option(value="sk") Slovensko

                                            
                            .o-form__divider.m-formDivider Inne


                            .o-form__group.m-formGroup.-checkbox
                                input.m-formGroup__input(type="checkbox" name="register_form_newsletter" id="register_form_newsletter")
                                span.m-formGroup__checkbox.a-checkbox
                                label.m-formGroup__label(for="register_form_newsletter") Chcę subskrybować biuletyn i wyrazić zgodę na przetwarzanie moich #[a(href="#") danych osobowych] w celu otrzymywania wiadomości i rabatów.             

                            .o-form__group.m-formGroup.-checkbox
                                input.m-formGroup__input(type="checkbox" name="register_form_legal" id="register_form_legal" required)
                                span.m-formGroup__checkbox.a-checkbox
                                label.m-formGroup__label(for="register_form_legal") Wprowadzając dane, rozumiem #[a(href="#") przetwarzanie danych osobowych]           
                
                            .o-form__group.m-formGroup
                                input.m-formGroup__input(type="number" name="register_form_antispam" id="register_form_antispam" autocomplete="antispam" required placeholder=" ")
                                label.m-formGroup__label(for="register_form_antispam") Pytanie kontrolne: ile wynosi 2 + 2
                                span.m-formGroup__error Nieprawidłowy
                                span.m-formGroup__success

                            .m-cartButtons
                                button.btn.-secondary.-fullWidth(type="submit" id="register_form_submit") Utwórz konto #[span.a-btnIcon #[span.a-icon.-cheveron.-white]]


                    .col-12.col-sm-12.col-md-12.col-lg-1


        include partials/_footer.pug

        include partials/_js-include.pug