::placeholder{
  
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input{
    @include f-16-primary-regular;
    border: 0;
    border-radius: $border-radius-primary;
    padding: 0 2rem;
}

.o-form{
    background: transparent;
    padding: 0px;
    margin: 20px 0 0 0;
    border-radius: $border-radius-primary;

    &.-noMargin{
        margin: 0;
    }
    &.-disabled{
        input, .m-formGroup.-radiobutton, .m-formGroup.-checkbox, .m-formGroup.-switch{
            background: $bg-white;
        }
        .m-formGroup__success{
            display: none;
        }
    }
    &.-paddingRight{
        padding-right: 4rem;
    }
}
.o-form__collapseToggler{
    width: 100%;
    margin-bottom: 0px;
    @include f-16-primary-semibold;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: $bg-light;
    border-radius: $border-radius-primary;

    &:hover, &:active, &:focus{
        text-decoration: none;
        background: $bg-grey;
    }
}
.o-form__collapseTogglerIcon{
    height: 10px;
    transform: rotate(90deg);

}
.o-form__collapseToggler[aria-expanded="true"] .o-form__collapseTogglerIcon{
    transform: rotate(-90deg); 
}
.o-form__collapse{
  
}
.o-form__title{
    @include f-24-primary-semibold;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.o-form__text{
    @include f-16-primary-regular;
    text-align: center;
    margin-top: 0rem;
    display: block;
}
.o-form__link{
    display: block;
    @include f-16-dark-regular;
    display: inline-block;
    color: $text-brand;
    text-align: center;

    &.-alt{
        color: $text-brand;
        margin: 2rem;
    }
    &.-alignRight{
        text-align: right;
        display: block;
    }
}

.o-form__divider{

}

@media screen and (max-width: 991px){
    .o-form{
        margin: 5px 0;
        
        &.-paddingRight{
            padding-right: 0rem;
        }
    }
    .o-form__collapseToggler{
        display: flex;
    }
}


.m-formDivider{
    @include f-14-dark-regular;
    color: $text-medium;
    border-bottom: 1px solid $border-grey;
    margin: 2rem 0;
    padding-bottom: 5px;
}
@media screen and (max-width:575px){
    .m-formDivider{
        margin: 10px 0;
    }
}

.m-formGroup{
    padding: 0;
    position: relative;
    margin-bottom: 20px;
    border-radius: $border-radius-primary;

    &.-radiobutton, &.-checkbox, &.-switch{
        background: $bg-white;
        min-height: 5.4rem;
        display: flex;
        flex-direction: row;
        padding: 1.5rem 2rem;
        border: 1px solid $border-grey;

        .m-formGroup__input{
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
            z-index: 2;

            &:checked + .m-formGroup__radiobutton::after, &:checked + .m-formGroup__checkbox::after{
                opacity: 1;
            }
            &:checked + .m-formGroup__radiobutton::before{
                border-color: $border-brand;
            }
            &:checked + .m-formGroup__checkbox::before{
                background: $bg-brand;
                border: 0;
            }
            &:checked + .m-formGroup__switch::before{
                background: $bg-brand;
            }
            &:checked + .m-formGroup__switch::after{
                right: 0;
                left: 100%;
                transform: translateX(-100%);
                background: $bg-brand;
            }
        }
        .m-formGroup__label{
            position: relative;
            transform: none;
            top: 0;
            left: auto;
            padding-left: 15px;
            color: $text-primary;
            z-index: 3;
            cursor: pointer;
            padding-bottom: 0;
            opacity: 1;

            &.-bold{
                font-weight: 600;
            }
        }
        .m-formGroup__text{
            display: block;
            position: relative;
            left: auto;
            color: $text-medium;
            font-size: 1.4rem;
            z-index: 3;
            padding-bottom: 0;
            opacity: 1;
            font-weight: 400;
        }
        .m-formGroup__price{
            position: relative;
            top: 0;
            left: auto;
            padding-left: 15px;
            color: $text-brand;
            z-index: 3;
            cursor: pointer;
            padding-bottom: 0;
            opacity: 1;
            font-size: 1.6rem;
            flex-grow: 1;
            text-align: right;
            white-space: nowrap;
            margin: 0;
        }
    }
    
    &.-range{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;

        .m-formGroup__rangewWrap{
            position: relative;
            height: 5.4rem;
            width: 100%;

            &::after{
                content: "";
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                left: 0;
                background: $bg-light;
                height: 8px;
                width: 100%;
                z-index: -1;
                border-radius: $border-radius-primary;
            }
        }
        .m-formGroup__input{
            background: transparent; 
            padding: 0;
            position: absolute;
            top: 0;
            margin: 0;
        }
        .m-formGroup__label{
            position: relative;
            transform: none;
            top: 0;
            left: auto;
            padding-left: 0;
            color: $text-primary;
            transition: 0s ease all;
            flex-grow: 1;
            opacity: 1;

            &:last-child{
                text-align: right;
            }
        }
    }
    &.-textarea{
        .m-formGroup__label{
            transform: none;
            top: 14px;
        }
        .m-formGroup__input{
            display: flex;
            height: auto;
            padding: 2.5rem 2rem 0 2rem;
        }
        & .m-formGroup__input:focus, & .m-formGroup__input:not(:placeholder-shown){
            padding: 2.5rem 2rem 0 2rem;
        }
    }
    &.-noMargin{
        margin: 0;
    }
}
.m-formGroup__label{
    @include f-16-dark-regular;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    transition: 0.2s ease all;
    margin: 0;
    cursor: text;
    opacity: 0.8;

    &.-small{
        font-size: 1.4rem;
        padding-top: 2px;
        a{
            @include f-14-primary-regular;
            color: $text-brand;
        }
    }
    a{
        @include f-16-primary-regular;
        color: $text-brand;
    }
}
.m-formGroup__input::placeholder{
    font-size: 0;
}
.m-formGroup__input{
    height: 5.4rem;
    @include f-16-primary-semibold;
    padding: 0 2rem;
    border: 0;
    background: $bg-white;
    border-radius: $border-radius-primary;
    width: 100%;
    border: 1px solid $border-grey;

    &:disabled{
        background: $bg-white;
        cursor: not-allowed !important;

        & ~ .m-formGroup__radiobutton, & ~ .m-formGroup__checkbox{
            cursor: not-allowed;
        }
        & ~ .m-formGroup__radiobutton::before, & ~ .m-formGroup__checkbox::before{
            border: 2px solid $border-medium;
            cursor: not-allowed;
        }
        & ~ .m-formGroup__label{
            color: $text-medium;
            cursor: not-allowed;
        }
        & ~ .m-formGroup__text{
            color: $text-medium;
            cursor: not-allowed;
        }
        & ~ .m-formGroup__price{
            color: $text-medium;
            cursor: not-allowed;
        }
        
    }
}
.m-formGroup__error{
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 5px 1rem;
    @include f-12-white-regular;
    background: $bg-red;
    border-bottom-right-radius: $border-radius-primary;
    border-bottom-left-radius: $border-radius-primary;
    z-index: 1;
    display: none;
    width: 100%;
    transform: translateY(-3px);
}
.m-formGroup__success{
    height: 2px;
    width: 0%;
    background: $bg-green;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s ease all;
}

.o-form__legal{
    @include f-14-primary-regular;
    margin-bottom: 2rem;
    a{
        @include f-14-primary-regular;
        color: $text-brand;
    }
}
.m-formGroup__muted{
    color: $text-medium;
}

/*push up*/

.m-formGroup__input:focus, .m-formGroup__input:not(:placeholder-shown){
    padding: 1.4rem 2rem 0 2rem;
}
.m-formGroup__input:focus + .m-formGroup__label, 
.m-formGroup__input:not(:placeholder-shown) + .m-formGroup__label{
    font-size: 12px;
    top: 8px;
    transform: translateY(0%);
}



/*validation*/

.m-formGroup__input:valid:not(:placeholder-shown):not([type="date"]) ~ .m-formGroup__success{
    width: 100%;
}

.m-formGroup__input:not(:focus):invalid:not(:placeholder-shown):not([type="date"]){
    border: 2px solid $border-red;
}



.m-formGroup__input:not(:focus):invalid:not(:placeholder-shown):not([type="date"]) + .m-formGroup__label + .m-formGroup__error{
    display: block;
}
#filter-range-input-2{
    right: 0;
}
/* IE Edge 16+ CSS */ 
@supports (-ms-ime-align:auto){
    .m-formGroup{
        display: flex;
        flex-direction: column;
    }
    .m-formGroup__label{
        transform: none;
        order: 0;
        position: relative;
        top: 0;
        left: 0;
        padding-bottom: 5px;
    }
    .m-formGroup__input{
        order: 1;
    }
    .m-formGroup__rangewWrap .m-formGroup__input{
        height: 100%;
        width: 100%;
    }
    .o-filter__single{
        width: 25%;
    }
    .o-filter__single:nth-child(2){
        display: none;
    }
}
/* IE 10, 11 CSS */ 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .m-formGroup{
        display: flex;
        flex-direction: column;
    }
    .m-formGroup__label{
        transform: none;
        order: 0;
        position: relative;
        top: 0;
        left: 0;
        padding-bottom: 5px;
    }
    .m-formGroup.-textarea .m-formGroup__label{
        top: 0;
    }
    .m-formGroup__input{
        order: 1;
    }
    .o-filter__single{
        width: 25%;
    }
    .o-filter__single:nth-child(2){
        display: none;
    }
}


.login-form{
    margin: 0;
}


@media screen and (max-width:575px){
    .m-formGroup{
        margin-bottom: 10px;
    }
}


select.m-formGroup__input, select.m-formGroup__input:not(:placeholder-shown){
    padding-top: 0;
}